# === Ambientes Virtuais (Essencial para não subir gigabytes de bibliotecas) ===
venv/
.venv/
env/
ENV/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

# === Cache do Python ===
**/__pycache__/
*.pyc
*.pyo
*.pyd

# === Jupyter Notebooks (Arquivos temporários e checkpoints) ===
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
# notebooks/Projeto_Final_V1.ipynb

# === Dados e Modelos (Arquivos pesados e confidenciais) ===
# Evita subir datasets pesados para o GitHub
#data/
#*.csv
*.xlsx
*.parquet
#*.json

# Evita subir os modelos treinados (arquivos pesados de pesos)
*.pkl
*.joblib
*.h5
*.onnx

# === Configurações e Credenciais ===
.env
.secrets
